:root {
  --foo: 11px
}

* {
	outline: dashed 00px;
}


body {
	background-color: wheat
}


[data-picpool="target"]{
  margin: auto
}


.card {
  display: flex;
  justify-content: center;
  gap: .5rem;
  button {
    padding: 0.1rem 1rem;
    border-radius: 12rem;
  }
}



.foos__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1rem 0;
  gap: 1rem;
}

.foos {
  display: flex;
  gap: 1rem;
}

.foos__foo {
  border: solid hsla(35, 100%, 34%, 0.426) 4px;
  background-color: hsla(30, 100%, 36%, 0.302);
  color: rgb(34, 0, 40);
  border-radius: 1rem;
  padding: 1rem;
}

